{% load static %}
<style>
    .firstPlaceholder { 
        display: none; /* Initially hidden */
        position: fixed; 
        top: 0; 
        right: 0; 
        z-index: 99; 
        width: 100%; 
        height: 100vh; 
        background-color: #000; 
        align-items: center; 
        text-align: center;
        scrollbar-width: none;
    }

    .firstPlaceholder .image { 
        margin: auto auto;
    }
    #loader-img {
        width: 120px;
        filter: contrast(200%) saturate(0%) brightness(150%) invert(100%);
        animation: growSaturate 1.5s ease-in-out infinite;
    }

    @keyframes growSaturate {
        0% {
            transform: scale(1);
            filter: contrast(200%) saturate(0%) brightness(150%) invert(100%) opacity(100%);
        }
        50% {
            transform: scale(1.1);
            filter: contrast(200%) saturate(0%) brightness(150%) invert(100%) opacity(50%);
        }
        100% {
            transform: scale(1);
            filter: contrast(200%) saturate(0%) brightness(150%) invert(100%) opacity(100%);
        }
    }
</style>

<div class="firstPlaceholder" id="firstPlaceholder">
    <div class="image">
        <img src="{% static 'images/squareLogo.png' %}" alt="جاري التحميل..." id="loader-img">
    </div>
</div>

<script>
    // Show the placeholder on page load
    document.getElementById('firstPlaceholder').style.display = 'flex'; // Show placeholder

    window.onload = function() {
        // Hide the placeholder once the page is fully loaded
        document.getElementById('firstPlaceholder').style.display = 'none';
    };
</script>

