{% load static %}
<style>

</style>



    <div class="headerBlock">
        <a onclick="openLoader()" hx-push-url="true" href="{% url 'home' %}"><div class="logo"><img src="{% static 'images/BadeelLogo.png' %}" alt=""></div></a>
        <a onclick="openLoader()" hx-push-url="true" href="{% url 'boycotters' %}">
            <div class="menuItem">
                <h4>المقاطعين</h4>
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0zIDIxaDJtMTYgMGgtMk01IDIxaDE0TTUgMjFWOS4zMjhNMTkgMjFWOS4zMjhtLTE0IDBhMiAyIDAgMCAxLS4xMS0uMDY4bC0uNTQtLjM2YTIgMiAwIDAgMS0uNzQ3LTIuNDA3bC44OTQtMi4yMzZBMiAyIDAgMCAxIDYuMzU0IDNoMTEuMjkyYTIgMiAwIDAgMSAxLjg1NyAxLjI1N2wuODk0IDIuMjM2QTIgMiAwIDAgMSAxOS42NSA4LjlsLS41NC4zNmEyIDIgMCAwIDEtLjExLjA2OG0tMTQgMGEyIDIgMCAwIDAgMi4xMS0uMDY4TDkgOGwxLjg5IDEuMjZhMiAyIDAgMCAwIDIuMjIgMEwxNSA4bDEuODkgMS4yNmEyIDIgMCAwIDAgMi4xMS4wNjgiLz48cGF0aCBkPSJNMTQgMjF2LTVhMiAyIDAgMSAwLTQgMHY1Ii8+PC9nPjwvc3ZnPg==" alt="">
            </div>
        </a>
        <a onclick="openLoader()" hx-push-url="true" href="{% url 'articles' %}">
            <div class="menuItem">
                <h4>المقالات</h4>
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik0zIDR2MTRhMiAyIDAgMCAwIDIgMmgxNGEyIDIgMCAwIDAgMi0yVjhoLTQiLz48cGF0aCBkPSJNMyA0aDE0djE0YTIgMiAwIDAgMCAyIDJ2ME0xMyA4SDdtNiA0SDkiLz48L2c+PC9zdmc+" alt="">
            </div>
        </a>
    </div>


<script>
function handleScrollChange() {
    const header = document.querySelector('.headerBlock');

    // Check if the scroll position is greater than or equal to 100px
    if (window.scrollY >= 100) {
        header.style.backgroundColor = '#f7f7f7'; // Change background to solid black
    } else {
        header.style.backgroundColor = '#f1f1f100'; // Semi-transparent black
    }
}

// Listen for the scroll event and invoke the function
window.addEventListener('scroll', handleScrollChange);

</script>