{% load static %}

<style>
.placeholder {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: #000;
  align-items: center;
  text-align: center;
}

.placeholder .image {
  margin: auto auto;
}

#loader-img {
  width: 120px;
  filter: contrast(200%) saturate(0%) brightness(150%) invert(100%);
  animation: growSaturate 1.5s ease-in-out infinite;
}

@keyframes growSaturate {
  0% {
    transform: scale(1);
    filter: contrast(200%) saturate(0%) brightness(150%) invert(100%) opacity(100%);
  }
  50% {
    transform: scale(1.1);
    filter: contrast(200%) saturate(0%) brightness(150%) invert(100%) opacity(50%);
  }
  100% {
    transform: scale(1);
    filter: contrast(200%) saturate(0%) brightness(150%) invert(100%) opacity(100%);
  }
}
</style>

<div class="placeholder" id="placeholder">
  <div class="image">
    <img src="{% static 'images/squareLogo.png' %}" alt="جاري التحميل..." id="loader-img">
  </div>
</div>

<script>
// Function to show the loader
function showLoader() {
  document.getElementById("placeholder").style.display = "flex";
}مخ

// Function to hide the loader
function hideLoader() {
  document.getElementById("placeholder").style.display = "none";
}

// Show loader when the page starts loading
document.addEventListener("DOMContentLoaded", showLoader);

// Hide loader when the page is fully loaded
window.addEventListener("load", hideLoader);

// Function to open loader (for HTMX usage)
function openLoader() {
  showLoader();
  document.getElementById("forplaceholder").style.display = "none";
}

// Listen for HTMX events
document.body.addEventListener("htmx:beforeRequest", function(event) {
  showLoader();
});

document.body.addEventListener("htmx:afterOnLoad", function(event) {
  hideLoader();
});
</script>

