{% load static %}

<style>

</style>

<div class="placeholder" id="placeholder">
  <div class="image">
    <img src="{% static 'images/BadeelSquareLogo.png' %}" alt="جاري التحميل..." id="loader-img">
  </div>
</div>

<script>
// Function to show the loader
function showLoader() {
  document.getElementById("placeholder").style.display = "flex";
}مخ

// Function to hide the loader
function hideLoader() {
  document.getElementById("placeholder").style.display = "none";
}

// Show loader when the page starts loading
document.addEventListener("DOMContentLoaded", showLoader);

// Hide loader when the page is fully loaded
window.addEventListener("load", hideLoader);

// Function to open loader (for HTMX usage)
function openLoader() {
  showLoader();
  document.getElementById("forplaceholder").style.display = "none";
}

// Listen for HTMX events
document.body.addEventListener("htmx:beforeRequest", function(event) {
  showLoader();
});

document.body.addEventListener("htmx:afterOnLoad", function(event) {
  hideLoader();
});
</script>

