{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boycotting For Gaza</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<style>

</style>
<body hx-target="this" hx-swap="outerHTML" id="body-div">
<div id="forplaceholder">
    {% include 'components/loader.html' %}
    {% include 'components/header.html' %}

    
    <div class="phrases">
        <a onclick="openLoader()"  hx-push-url="true"  href="" class="title">
            <h1 class="title">عن الـ7 من أكتوبر</h1>
        </a>
        <div class="items">
            {% for phrase in phrases %}
                <a onclick="CopyText(this)">
                    <div class="item">
                        <h1 class="phraseText">{{phrase.text}}</h1>
                        <p class="author">{{phrase.author}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Gray Prompt -->
    <div id="copyPrompt">تم نسخ النص</div>
    
    {% include 'components/footer.html' %}
</div>


<script>
    function CopyText(element) {
    // Find the phraseText inside the clicked item
    const phraseText = element.querySelector('.phraseText').innerText;

    // Create a temporary textarea element to copy the text
    const tempInput = document.createElement('textarea');
    tempInput.value = phraseText;
    document.body.appendChild(tempInput);

    // Select the text and copy it
    tempInput.select();
    document.execCommand('copy');
    
    // Remove the temporary textarea element
    document.body.removeChild(tempInput);

    // Show the "تم نسخ النص" prompt
    showCopyPrompt();
}

function showCopyPrompt() {
    const prompt = document.getElementById('copyPrompt');
    
    // Make the prompt visible
    prompt.style.display = 'block';

    // After 2 seconds, hide the prompt
    setTimeout(function() {
        prompt.style.display = 'none';
    }, 1000);
}

</script>
</body>
</html>
{% endblock content %}